<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<div layout:fragment="content" class="container">
  <input type="hidden" id="resCode" th:value="${resCode}">
  <h1>Admin Login.</h1>
  <form method="post" th:action="@{/admin/login}" onsubmit="return AdminLogin.validateForm()">
    <div class="mb-3">
      <label for="inputAdminId" class="form-label">ID</label>
      <input type="text" class="form-control" id="inputAdminId" name="adminId">
    </div>
    <div class="mb-3">
      <label for="inputAdminPw" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputAdminPw" name="adminPw">
    </div>
    <button type="submit" class="btn btn-primary w-100">로그인</button>
  </form>
</div>
</html>