<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content">
    <h1>Sign up page</h1>
    <!--  TODO: 이메일 인증  -->
    <form method="post" th:action="@{/members}">
        <input type="email" name="memberId" placeholder="Email" th:value="${memberId}">
        <input type="password" name="memberPw" placeholder="Password">
        <input type="password" name="confirmPw" placeholder="Re-enter password">
        <button type="submit">Sign up</button>
    </form>

    <!--    GET, POST, PUT, DELETE, PATCH-->
</div>
</html>