<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content" class="container">
    <input type="hidden" id="resCode" th:value="${resCode}">
    <h1>Sign-up.</h1>
    <form method="post" th:action="@{/members}" onsubmit="return signUp.validateForm()">
        <div class="mb-3">
            <label for="inputMemberId" class="form-label">ID</label>
            <input type="text" class="form-control" id="inputMemberId" name="memberId" value="test">
        </div>
        <div class="mb-3">
            <label for="inputMemberPw" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputMemberPw" name="memberPw" value="111111">
        </div>
        <div class="mb-3">
            <label for="inputConfirmPw" class="form-label">Password Confirmation</label>
            <input type="password" class="form-control" id="inputConfirmPw" name="confirmPw" value="111111">
        </div>
        <button type="submit" class="btn btn-primary w-100">회원가입</button>
    </form>
    <script>
        signUp.init();
    </script>
</div>
</html>