<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content" class="container">
    <div class="text-end">
        <button type="button" class="btn btn-light btn-sm write-btn" th:attr="data-sub-category-id=${subCategory.subCategoryId}">글쓰기</button>
    </div>
    <table class="table table-hover caption-top">
        <caption th:text="|${subCategory.mainCategory.mainCategoryName} / ${subCategory.subCategoryName}|">게시판 제목</caption>
        <thead class="table-light">
        <tr>
            <th scope="col" class="text-center">번호</th>
            <th scope="col" class="text-center w-50">제목</th>
            <th scope="col" class="text-center">조회수</th>
            <th scope="col" class="text-center">댓글수</th>
            <th scope="col" class="text-center">작성자</th>
            <th scope="col" class="text-center">날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <th scope="row" class="text-center" th:text="${boards.pageable.pageNumber * boards.pageable.pageSize + boardStat.count}">번호</th>
            <td class="text-start">
                <a th:href="@{/boards(subCategoryId=${subCategory.subCategoryId},boardId=${board.boardId},page=${boards.pageable.pageNumber})}" th:text="${board.title}"></a>
            </td>
            <td class="text-center" th:text="${board.viewCount}">조회수</td>
            <td class="text-center" th:text="${board.comments.size}">댓글수</td>
            <td class="text-center" th:text="${board.member.memberId}">작성자</td>
            <td class="text-center" th:text="${#temporals.format(board.createdAt, 'yy/MM/dd')}">createdAt</td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" th:if="${!boards.isEmpty()}">
        <th:block th:with="
            pageNumber = ${boards.pageable.pageNumber},
            pageSize = ${boards.pageable.pageSize},
            totalPages = ${boards.totalPages},
            startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
            tempEndPage = ${startPage + pageSize - 1},
            endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})
        ">
            <ul class="pagination justify-content-center">
                <li th:classappend="${boards.first} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="${boards.first} ? '#' : @{/boards/list(subCategoryId=${subCategory.subCategoryId},page=${pageNumber - 1})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/boards/list(subCategoryId=${subCategory.subCategoryId},page=${page - 1})}"></a>
                </li>
                <li th:classappend="${boards.last} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="${boards.last} ? '#' : @{/boards/list(subCategoryId=${subCategory.subCategoryId},page=${pageNumber + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </th:block>
    </nav>

    <script>
        list.init();
    </script>
</div>
</html>