<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content" class="container">
    <form method="post" th:action="@{/boards}" id="formDeleteBoard">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="boardId" th:value="${board.boardId}">
        <input type="hidden" name="subCategoryId" th:value="${subCategoryId}">
        <input type="hidden" name="page" th:value="${page}">
    </form>

    <div class="row">
        <div class="col">
            <small class="text-primary-emphasis">
                <span th:text="|${board.subCategory.mainCategory.mainCategoryName} / ${board.subCategory.subCategoryName}|">카테고리</span>
            </small>
        </div>
        <div class="col text-end">
            <button type="button" th:if="${session.memberId == board.member.id}" class="btn btn-light btn-sm" onclick="VIEW.goToEdit()">편집</button>
            <button type="button" id="modifyBtn" class="btn btn-light btn-sm d-none">변경</button>
            <button type="button" th:if="${session.memberId == board.member.id}" id="deleteBtn" class="btn btn-light btn-sm">삭제</button>
            <button type="button" id="listBtn" class="btn btn-light btn-sm" th:attr="data-page=${page}">목록</button>
        </div>
    </div>

    <h1 th:text="${board.title}">글 제목</h1>

    <p>
        <small class="text-body-tertiary">
            <span th:text="|${board.member.memberId}님이 작성, ${#temporals.format(board.updatedAt, 'yyyy-MM-dd')}에 최종 변경|"></span>
        </small>
    </p>

    <div class="mb-5" th:utext="${board.content}"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        VIEW.init();
        /*]]>*/
    </script>
    <th:block th:replace="fragments/commentWrite::commentWriteFragment"></th:block>
    <th:block th:replace="fragments/commentList::commentListFragment"></th:block>
</div>
</html>