<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content" class="container">
    <form method="post" th:action="@{/boards}" id="formDeleteBoard">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="boardId" th:value="${board.boardId}">
        <input type="hidden" name="subCategoryId" th:value="${subCategoryId}">
        <input type="hidden" name="page" th:value="${page}">
    </form>

    <div class="row">
        <div class="col">
            <small class="text-primary-emphasis">
                <span th:text="|${board.subCategory.mainCategory.mainCategoryName} / ${board.subCategory.subCategoryName}|">카테고리</span>
            </small>
        </div>
        <div class="col text-end">
            <button type="button" th:if="${session.memberId == board.member.id}" id="writeBtn" class="btn btn-light btn-sm">편집</button>
            <button type="button" id="modifyBtn" class="btn btn-light btn-sm d-none">변경</button>
            <button type="button" th:if="${session.memberId == board.member.id}" id="deleteBtn" class="btn btn-light btn-sm">삭제</button>
            <button type="button" id="listBtn" class="btn btn-light btn-sm" th:attr="data-page=${page}">목록</button>
        </div>
    </div>

    <p>
        <small class="text-body-tertiary">
            <span th:text="|${board.member.memberId}님이 작성, ${#temporals.format(board.updatedAt, 'yyyy-MM-dd')}에 최종 변경|"></span>
        </small>
    </p>

    <div id="editor"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let toolbarOptions = [
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            ['bold', 'italic', 'underline', 'strike', 'image'],        // toggled buttons
            ['blockquote', 'code-block'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'align': [] }],
            ['clean']                                         // remove formatting button
        ];

        let quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: '글을 작성 해주세요.',
            modules: {
                toolbar: toolbarOptions
            }
        });

        // 이미지 파일 서버 업로드 후 내용 입력
        let customImageHandler = () => {
            let fileInput = document.createElement("input");
            fileInput.setAttribute("type", "file");
            fileInput.click();
            fileInput.addEventListener("change", () => {
                let formData = new FormData();
                formData.append("file", fileInput.files[0]);
                // 1. 이미지 파일 서버 업로드
                Images.upload("/rest/boards/uploadFile", formData).then((resData) => {
                    console.log(resData);
                    let range = quill.getSelection();
                    // 2. 이미지 파일 URL로 내용 작성
                    quill.insertEmbed(range.index, "image", resData.file.url);
                });
            });
        }

        let toolbar = quill.getModule('toolbar');
        toolbar.addHandler('image', customImageHandler);


        let validateForm = function () {
            let titleInput = document.querySelector("#title");

            // 제목이 없으면 return false
            if (titleInput.value.length == 0) {
                alert("제목을 입력해주세요.");
                focus(titleInput);
                return false;
            }

            // 내용이 없으면 return false
            let text = quill.getText().split(" ").join("");
            if (text.length == 1) {
                alert("내용을 입력해주세요.");
                return false;
            }

            // let tempContent = quill.getContents();
            let contentInput = document.querySelector("input[name=content]");
            contentInput.value = quill.root.innerHTML;

            let method = document.querySelector("input[name=_method]");
            method.value = "POST";

            return true;
        }
        VIEW.init();
        /*]]>*/
    </script>
    <th:block th:replace="fragments/commentWrite::commentWriteFragment"></th:block>
    <th:block th:replace="fragments/commentList::commentListFragment"></th:block>
</div>
</html>