<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basecamp</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Index</a></li>
            <li th:if="${session.memberId != null}"><a href="/logout">Sign out</a></li>
            <li th:if="${session.memberId == null}"><a href="/login">Sign in</a></li>
            <li th:if="${session.memberId == null}"><a href="/signUp">Sign up</a></li>
        </ul>
    </div>
    <h1>Index page</h1>
    <ul>
        <li>모든 게시판의 게시물 목록을 모아 놓은 페이지를 보여준다</li>
        <li>게시물을 클릭하면, 로그인 여부를 확인한다</li>
        <li>로그인 상태라면 게시물 상세보기 페이지로 이동한다</li>
        <li>로그인 상태가 아니라면, 로그인 페이지로 이동한다</li>
    </ul>
</body>
</html>