<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content" class="container">
    <div class="container text-center">
        <div class="row g-4">
            <div class="col" th:each="mainCategory : ${mainCategories}">
                <div class="card" style="width: 18rem;">
                    <div class="card-header" th:text="${mainCategory.mainCategoryName}">
                        Featured
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="subCategory : ${mainCategory.subCategories}">
                            <a th:href="@{/boards/list(subCategoryId=${subCategory.subCategoryId})}" th:text="${subCategory.subCategoryName}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</html>