<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<div layout:fragment="content" class="container">
  <div class="text-end">
    <button type="button" class="btn btn-primary btn-sm create-btn">카테고리 생성</button>
  </div>
  <table class="table table-hover caption-top">
    <caption>카테고리 목록</caption>
    <thead class="table-light">
    <tr>
      <th scope="col" class="text-center">번호</th>
      <th scope="col" class="text-center">상위 카테고리명</th>
      <th scope="col" class="text-center">카테고리명</th>
      <th scope="col" class="text-center">생성일자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categorys}">
      <th scope="row" class="text-center" th:text="${categorys.pageable.pageNumber * categorys.pageable.pageSize + categoryStat.count}">번호</th>
      <td class="text-start">
        <a th:href="@{/categorys(categoryId=${category.parentCategoryId},page=${categorys.pageable.pageNumber})}" th:text="${category.categoryName}"></a>
      </td>
      <td class="text-start">
        <a th:href="@{/categorys(categoryId=${category.categoryId},page=${categorys.pageable.pageNumber})}" th:text="${category.categoryName}"></a>
      </td>
      <td class="text-center" th:text="${#dates.format(category.createdAt, 'yy/MM/dd')}">createdAt</td>
    </tr>
    </tbody>
  </table>

<!--  <nav aria-label="Page navigation" th:if="${!boards.isEmpty()}">-->
<!--    <th:block th:with="-->
<!--            pageNumber = ${boards.pageable.pageNumber},-->
<!--            pageSize = ${boards.pageable.pageSize},-->
<!--            totalPages = ${boards.totalPages},-->
<!--            startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},-->
<!--            tempEndPage = ${startPage + pageSize - 1},-->
<!--            endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})-->
<!--        ">-->
<!--      <ul class="pagination justify-content-center">-->
<!--        <li th:classappend="${boards.first} ? 'disabled'" class="page-item">-->
<!--          <a class="page-link" th:href="${boards.first} ? '#' : @{/boards/list(page=${pageNumber - 1})}">-->
<!--            <span aria-hidden="true">&laquo;</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">-->
<!--          <a th:text="${page}" class="page-link" th:href="@{/boards/list(page=${page - 1})}"></a>-->
<!--        </li>-->
<!--        <li th:classappend="${boards.last} ? 'disabled'" class="page-item">-->
<!--          <a class="page-link" th:href="${boards.last} ? '#' : @{/boards/list(page=${pageNumber + 1})}" aria-label="Next">-->
<!--            <span aria-hidden="true">&raquo;</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </th:block>-->
<!--  </nav>-->

  <script>
    CategoryList.init();
  </script>
</div>
</html>