<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<div layout:fragment="content" class="container">
  <h1 class="text-center mb-5">하위 카테고리 생성</h1>
  <form id="createSubCategoryForm" method="post" th:action="@{/admin/sub/categorys}" onsubmit="return SubCategoryCreate.validateForm()">
    <input type="hidden" name="creater" th:value="${session.adminId}">
    <div class="mb-3 row">
      <label for="inputSubCategoryName" class="col-sm-2 col-form-label">하위 카테고리명</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputSubCategoryName" name="subCategoryName">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="selectMainCategoryId" class="col-sm-2 col-form-label">상위 카테고리</label>
      <div class="col-sm-7">
        <select id="selectMainCategoryId" class="form-select" name="mainCategoryId">
          <th:block th:each="mainCategory : ${mainCategories}">
            <option th:value="${mainCategory.mainCategoryId}" th:text="${mainCategory.mainCategoryName}"></option>
          </th:block>
        </select>
      </div>
      <div class="col-sm-3">
        <button type="button" id="createMainCategoryBtn" class="btn btn-primary w-100">상위 카테고리 추가</button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">생성</button>
  </form>
  <script>
    SubCategoryCreate.init();
  </script>
</div>
</html>