<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<div layout:fragment="content" class="container">
  <h1 class="text-center mb-5">상위 카테고리 생성</h1>
  <form id="createCategoryForm" method="post" th:action="@{/admin/main/categorys}" onsubmit="return MainCategoryCreate.validateForm()">
    <input type="hidden" name="creater" th:value="${session.adminId}">
    <div class="mb-3 row">
      <label for="inputMainCategoryName" class="col-sm-2 col-form-label">상위 카테고리명</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputMainCategoryName" name="mainCategoryName">
      </div>
      <div class="col-sm-3">
        <button type="button" id="dupCheckBtn" class="btn btn-primary w-100">중복확인</button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">생성</button>
  </form>
  <script>
    MainCategoryCreate.init();
  </script>
</div>
</html>